# Unit 31. 재귀호출(Recursive call)

- factorial
<pre>
n * (n-1)!     n > 0,
0              n = 0
</pre>

In [3]:
def fact(n):
    if n == 0:
        return 1
    return n * fact(n-1)

In [4]:
fact(3)

6

In [5]:
fact(5)

120

- fibonacci 수열
<pre>
fibo(n) = fibo(n-1) + fibo(n-2),      n >= 2
fibo(1), fibo(0) = 1                  n = 0, 1

In [6]:
def fibo(n):
    if n == 1 or n ==0:
        return 1
    return fibo(n-1) + fibo(n-2)

In [7]:
for i in range(11):
    print(f'{i:2d}: {fibo(i)}')

 0: 1
 1: 1
 2: 2
 3: 3
 4: 5
 5: 8
 6: 13
 7: 21
 8: 34
 9: 55
10: 89