### Unit 23 2차원 리스트

###23.1 2차원 리스트

In [1]:
a = [[10,20], [30,40], [50,60]]
a

[[10, 20], [30, 40], [50, 60]]

In [2]:
print(a)

[[10, 20], [30, 40], [50, 60]]

In [3]:
from pprint import pprint
pprint (a, indent=1, width=20)

[[10, 20],
 [30, 40],
 [50, 60]]

In [4]:
import numpy as np
b = np.arange(1,7).reshape(3,2) * 10
b

array([[10, 20],
       [30, 40],
       [50, 60]])

In [5]:
import pandas as pd
df = pd.DataFrame(b)
df

    0   1
0  10  20
1  30  40
2  50  60

In [10]:
import pandas as pd
df = pd.DataFrame(b, columns=['첫째열', '둘째열'])
df

   첫째열  둘째열
0   10   20
1   30   40
2   50   60

In [12]:
# 2차원 리스트의 인덱싱: [행인덱스][열인덱스]
a[2][1], a[-1][-1]

(60, 60)

In [13]:
# 넘파이 2차원 어레이 인덱싱: [행, 열]
b[2,1], b[-1,-1]

(60, 60)

In [14]:
# 데이터프레임 인덱싱: [열][행]
df['둘째열'][2]

60

- 톱니형 리스트

In [15]:
a = [[10, 20],
     [500, 600, 700],
     [9],
     [30, 40],
     [8],
     [800, 900, 1000]]
a

[[10, 20], [500, 600, 700], [9], [30, 40], [8], [800, 900, 1000]]

### 23.2 반복문과 2차원 리스트

In [16]:
a = [[10, 20], [30, 40], [50, 60]]
for row in a:
    print(row)

[10, 20]
[30, 40]
[50, 60]

In [17]:
for x, y in a:
    print(x, y)

10 20
30 40
50 60

In [19]:
for row in a:
    for element in row:
        print(element, end=' ')
    print()

10 20
30 40
50 60

In [20]:
a = [[10, 20],
     [500, 600, 700],
     [9],
     [30, 40],
     [8],
     [800, 900, 1000]]
for row in a:
    for element in row:
        print(element, end=' ')
    print()

10 20
500 600 700
9
30 40
8
800 900 1000

In [21]:
len(a), len(a[0]), len(a[1])

(6, 2, 3)

In [22]:
for i in range(len(a)):
    for k in range(len(a[i])):
        print(a[i][k], end=' ')
    print()

10 20
500 600 700
9
30 40
8
800 900 1000

### 23.3 반복문으로 리스트 만들기

In [23]:
# [[10,11], [20,21], [30,31]]
for i in range(3):
    for k in range(2):
        print(10*(i+i)+k, end=' ')
    print()

0 1
20 21
40 41

In [24]:
outer_list = []
for i in range(3):
    inner_list = []
    for k in range(2):
        inner_list.append(10*(i+1)+k)
    outer_list.append(inner_list)

pprint(outer_list, indent=1, width=20)

[[10, 11],
 [20, 21],
 [30, 31]]

In [25]:
a = []
for i in range(3):
    for k in range(2):
        a.append(10*(i+1)+k)
a

[10, 11, 20, 21, 30, 31]

In [28]:
two_d = []
for i in range(3):
    line = []
    for k in range(2):
        line.append(10*(i+1)+k)
    two_d.append(line)
two_d

[[10, 11], [20, 21], [30, 31]]

- 리스트 표현식

In [31]:
# 바깥쪽: [...for i in range(3)]
# 안쪽: [10*(i+1)+k for k in range(2)]
[[10*(i+1)+k for k in range(2)] for i in range(3)]

[[10, 11], [20, 21], [30, 31]]

In [34]:
# [[1,2,3,4], [11,12,13,14],[21,22,23,24]]
# 행 인덱스(i): 0,1,2 - range(3)
# 행 인덱스(k): 0,1,2,3 - range(4)
# 일반항: 10 * i + k + 1
two_d = []
for i in range(3):
    line = []
    for k in range(4):
        line.append(10*i+ k+1)
    two_d.append(line)
two_d

[[1, 2, 3, 4], [11, 12, 13, 14], [21, 22, 23, 24]]

In [35]:
[[10*i+k+1 for k in range(4)] for i in range(3)]

[[1, 2, 3, 4], [11, 12, 13, 14], [21, 22, 23, 24]]

In [36]:
[[10*i+k+1 for k in range(1,5)] for i in range(3)]

[[2, 3, 4, 5], [12, 13, 14, 15], [22, 23, 24, 25]]

- 2차원 리스트의 정렬은 추후 데이터프레임을 이용한 정렬

In [37]:
students = [
    ['john', 'C', 19],
    ['maria', 'A', 25],
    ['andrew', 'B', 7]
]

### 23.4 2차원 리스트의 할당과 복사

In [38]:
a = [[0,0], [0,0],[0,0]]
b = a.copy()
b[1][1] = 30
b

[[0, 0], [0, 30], [0, 0]]

In [39]:
a

[[0, 0], [0, 30], [0, 0]]

In [40]:
import copy
a = [[0,0], [0,0],[0,0]]
b = copy.deepcopy(a)
b[1][1] = 30
b

[[0, 0], [0, 30], [0, 0]]

In [41]:
a

[[0, 0], [0, 0], [0, 0]]

In [ ]:
# 게임 판을 만든다.(30% 지뢰, 70% 그냥)
# 패딩 판으로 게임 판을 옮긴다. (4x4 --> 6x6)
# 패딩 판에서 지뢰의 갯수를 찾는다.
# 패딩 판에서 게임 판으로 축소 (6x6 --> 4x4)
# 게임 판을 프린트

In [43]:
a, b = map(int,input().split())
c = [2 ** i for i in range(a, b+1)]
c.pop(1)
c.pop(-2)
print(c)

1 10
[2, 8, 16, 32, 64, 128, 256, 1024]

In [44]:
a, b = map(int,input().split())
c = [2 ** i for i in range(a, b+1)]
c.pop(1)
c.pop(-2)
print(c)

10 20
[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]

In [ ]:
m,n = map(int, input().split())
if 1 <= m <= 20 and 10 <= n <= 30 and m < n:
    power_list = []
    for i in range(m, n+1):
        power_list.append()

In [46]:
import random
N = 8
mines = []
for _ in range(N):
    row = []
    for _ in range(N):
        if random.random() > 0.7:
            row.append('*')
        else:
            row.append('.')
    mines.append(row)

    for row in mines:
        for element in row:
            print(element, end=' ')
        print()

* . . . * . . .
* . . . * . . .
. . . . . . . .
* . . . * . . .
. . . . . . . .
* . . . . . . .
* . . . * . . .
. . . . . . . .
* . . . . . . .
. . . . * * . .
* . . . * . . .
. . . . . . . .
* . . . . . . .
. . . . * * . .
. . . . . . . .
* . . . * . . .
. . . . . . . .
* . . . . . . .
. . . . * * . .
. . . . . . . .
* . . . * * * .
* . . . * . . .
. . . . . . . .
* . . . . . . .
. . . . * * . .
. . . . . . . .
* . . . * * * .
. . * . * . . *
* . . . * . . .
. . . . . . . .
* . . . . . . .
. . . . * * . .
. . . . . . . .
* . . . * * * .
. . * . * . . *
. . . . . . . *

In [47]:
def print_mines(mat):
    for row in mat:
        for element in row:
            print(element, end=' ')
        print()

In [48]:
N = int(input())
mines = [['*' if random.random() > 0.7 else '.' for _ in range(N)] for _ in range(N)]
print_mines(mines)

3 3

ValueError: ignored

In [49]:
line = ['.']
line.append(['*']*6)
line

['.', ['*', '*', '*', '*', '*', '*']]

In [50]:
pad_mines = []
pad_mines.append(['.'] * (N+2))
for row in mines:
    line = ['.']
    line.extend(row)
    line.append('.')
    pad_mines.append(line)
pad_mines.append(['.'] * (N+2))
print_mines(pad_mines)

. . . . . . . . . .
. * . . . * . . . .
. . . . . . . . . .
. * . . . . . . . .
. . . . . * * . . .
. . . . . . . . . .
. * . . . * * * . .
. . . * . * . . * .
. . . . . . . . * .
. . . . . . . . . .

In [51]:
pad_mines = []
pad_mines.append(['.'] * (N+2))
for row in mines:
    line = ['.']
    line.extend(row)
    ''' for element in row:
            line.append(element) '''
    line.append('.')
    pad_mines.append(line)
pad_mines.append(['.'] * (N+2))
print_mines(pad_mines)

. . . . . . . . . .
. * . . . * . . . .
. . . . . . . . . .
. * . . . . . . . .
. . . . . * * . . .
. . . . . . . . . .
. * . . . * * * . .
. . . * . * . . * .
. . . . . . . . * .
. . . . . . . . . .

In [55]:
fina_mines = []
for i in range(1, N+1):
    row = []
    for k in range(1, N+1):
        if pad_mines[i][k] == '*':
            row.append('*')
        else:
            count = (pad_mines[i-1][k-1]=='*') + (pad_mines[i-1][k]=='*') + (pad_mines[i-1][k+1]=='*') + \
                    (pad_mines[i][k-1]=='*') + (pad_mines[i][k+1]=='*') + \ 
                    (pad_mines[i+1][k-1]=='*') + (pad_mines[i+1][k]=='*') + (pad_mines[i+1][k+1]=='*')
            row.append(str(count))
        final_mines.append(row)

    print_mines(final_mines)

SyntaxError: ignored

연습문제
<pre>
a + b + c = 1000, a < b < c 를 만족하고, a*a + b*b = c*c 를 만족하는 피타고라스 수 a, b, c 는?

In [60]:
for a in range(1, 333):
    for b in range(a+1, 500):
        c = 1000 - a - b
        if a*a +b*b ==c*c:
            print(a, b, c)

200 375 425

In [58]:
200*200 + 375*375, 425*425

(180625, 180625)