# Unit 14. 조건문 if - else

### 14.1 else

In [ ]:
import random

In [ ]:
x = random.randint(1, 6)
if x >= 4:
    print('큰 수')
else:
    print('작은 수')
print(x)

큰 수
5

In [ ]:
x = random.randint(1, 6)
if x % 2 == 0:
    print('짝수')
else:
    print('홀수')
print(x)

짝수
6

In [ ]:
x = random.randint(1, 6)
if x % 2 == 0:
    result = 'even number'
else:
    result = 'odd number'
print(x, result)

1 odd number

- 조건부 표현식(3항 연산자)

In [ ]:
# Java, JS에서는 result = x % 2 == 0 ? "even" : "odd" ;
result = 'even' if x % 2 == 0 else 'odd' # 이 문장 코드는 외워두자!!
print(x, result)

1 odd

### 14.2 esle와 들여쓰기

In [ ]:
x = 10
if x == 10:
    print('10입니다.')
else:
    print('x에 들어있는 숫자는')
print('10이 아닙니다.')

10입니다.
10이 아닙니다.

In [ ]:
if x == 10:
    print('10입니다.')
else:
    print('x에 들어있는 숫자는')
    print('10이 아닙니다.')

10입니다.

### 14.3 동작 방식

In [ ]:
x = ''
if x:
    print(x)
else:
    print('0, 0.0, "", Flase, None입니다.')

0, 0.0, "", Flase, None입니다.

### 14.4 여러개의 조건식

In [ ]:
# 3과 5의 공배수면 FizzBuzz를 출력
# 위의 경우가 아니면 숫자값을 출력

x = random.randint(1,100)
if x % 3 == 0 and x % 5 == 0:
    print('FizzBuzz')
else:
    print(x)

FizzBuzz

In [ ]:
x = 30
if x % 3 == 0 and x % 5 == 0:
    print('FizzBuzz')
else:
    print(x)

FizzBuzz

In [ ]:
x = 14
if x >= 10 and x <= 20:
    print('10이상이고 20사이')
else:
    print(x)

10이상이고 20사이

In [ ]:
if 10<= x <=20:
    print('10이상이고 20사이')
else:
    print(x)

10이상이고 20사이

### 연습문제
<pre>
4로 나누어지면 윤년
100으로 나누어지면 평년
400으로 나누어지면 윤년
그외 평년
</pre>

In [ ]:
x = 1900
if x % 4 == 0:
    print(x, '윤년')
if x % 400 == 0:
    print(x,'윤년')
if x % 100 == 0:
    print(x,'평년')
else:
    print(x,'평년')

1900 윤년
1900 평년

In [ ]:
x = 2004
if x % 4 ==0:
    if x % 100 == 0:
        if x % 400 == 0:
            print(x, '윤년')
        else:
            print(x, '평년')
    else:
        print(x, '윤년')
else:
    print(x, '평년')

2004 윤년

In [ ]:
# Code Refactoring
x = 1901
if x % 4 ==0:
    if x % 100 == 0 and x % 400 !=0:
            print(x, '평년')
    else:
        print(x, '윤년')
else:
    print(x, '평년')

1901 평년

In [ ]:
x = 1900
if x % 4 == 0 and not (x % 100 == 0 and x % 400 !=0):
    print(x, '윤년')
else:
    print(x, '평년')

1900 평년

In [ ]:
# not (A and B) ==> not A or not B
x = 2004
if x % 4 == 0 and (x % 100 != 0 or x % 400 ==0):
    print(x, '윤년')
else:
    print(x, '평년')

2004 윤년