# Unit 15. 조건문 elif

In [5]:
import random

In [6]:
# 90점 이상 A, 80점 이상 B, 70점 이상 C, 60점 이상 D, 나머지 F
score = random.randint(40, 100)
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grage = 'F'
print(score, grade)

97 A

In [7]:
score = random.randint(40, 100)
grade = 'A' if score >= 90 else \
            'B' if score >= 80 else \
                'C' if score >= 70 else \
                    'D' if score >= 60 else 'F'
print(score, grade)

77 C

### 연습문제
<pre>
생일을 입력으로 받아 오늘 현재의 만 나이를 계산하세요.
</pre>

In [8]:
import datetime as dt
today = dt.date.today()
today.year, today.month, today.day

(2022, 3, 25)

In [15]:
year=int(input("출생년도"))
month=int(input("출생월"))
date=int(input('출생일'))
Birth_date=datetime.date(year, month, date)
if m>month:
    age=y-year
elif d>date:
    age=y-year
else:
    age=y-year-1

출생년도1994
출생월10
출생일14

NameError: ignored

In [18]:
birth_year, birth_month, birth_day = map(int, input('생년월일').split())

생년월일1994 10 14

In [25]:
if today.month < birth_month:           # 생월이 아직 안왔으면
    age = today.year - birth_year -1
elif today.month > birth_month:         # 생월이 지났으면
    age = today.year = birth_year 
else:                                   # 생월이 같으면
    if today.day <= birth_day:              # 생일이 아직 안왔으면
        age = today.year - birth_year -1
    else:                               # 생일이 같거나 기났으면
        age = today.year - birth_year
print(birth_year, birth_month, birth_day, age)

1994 10 14 27