# Unit 19. 중첩(Nested)반복문

### 19.1 중첩 Loop

In [1]:
for i in range(1, 6):
    for k in range(i):
        print('*', end='')
    print()

*
**
***
****
*****

In [3]:
for i in range(1, 6):
    print('*' * i)

*
**
***
****
*****

In [4]:
'*' * 3

'***'

### 19.2 사각형으로 별 출력

In [5]:
width, height = 5, 3
for i in range(height):
    for k in range(width):
        print('*', end='')
    print()

*****
*****
*****

### 19.3 계단식 별 모양

In [13]:
for i in range(5):
    for k in range(4-i):
        print(' ', end='')
    for k in range(i+1):
        print('*', end='')
    print()

    *
   **
  ***
 ****
*****

In [20]:
# Diamond 그리기
for i in range(4):
    for k in range(3-i):
        print('  ', end='')
    for k in range(2*i+1):
        print('*', end='')
    print()
for i in range(-2, -1, -1):
    for k in range(3-i):
        print('  ', end='')
    for k in range(2*i+1):
        print('*', end='')
    print()

      *
    ***
  *****
*******

In [21]:
# 가운데 행의 별의 갯수를 입력으로 받아 다이아몬드 그리기
N = int(input())
n = N // 2 + 1
for i in range(n):
    for k in range(n-1-i):
        print('  ', end='')
    for k in range(2*i+1):
        print('*', end='')
    print()
for i in range(n-2, -1, -1):
    for k in range(n-1-i):
        print('  ', end='')
    for k in range(2*i+1):
        print('*', end='')
    print()

11
          *
        ***
      *****
    *******
  *********
***********
  *********
    *******
      *****
        ***
          *