# Unit 34. 클래스(Class)
### 34.1 클래스와 메소드 만들기

In [ ]:
class Person:       # 클래스 이름은 대문자로 시작
    def greeting(self):     # 메소드의 첫번째 인자는 무조건 self
        print('Hello')

In [ ]:
# 클래스의 인스턴스를 만들어야 클래스를 사용할 수 있음
james = Person()        # 생성자(COnstructor) 함수
maria = Person()

In [ ]:
james.greeting()

Hello

In [ ]:
maria.greeting()

Hello

In [ ]:
Person().greeting

- 클래스 내에서 메소드 호출하기

In [ ]:
class Person:
    def greeting(self):
        print('Hello')

        def hello(self):        
            self.greeting()     # 클래스 내에서 속성이나 메소드를 참조할때는 self.xxx 한다.

In [ ]:
james = Person()
james.hello()

AttributeError: ignored

- 특정 클래스의 인스턴스인지 확인하기

In [ ]:
isinstance(james, Person)

True

In [ ]:
# 음수와 실수에 대한 대비가 없다
def fact(n):
    if n == 0:
        return 1
    return n * fact(n-1)

In [ ]:
def factorial(n):
    if not isinstance(n, int) or n < 0:
        return None
    if n == 0:
        return 1
    return n * factorial(n-1)

In [ ]:
factorial(1.3), factorial(-4)

(None, None)

In [ ]:
factorial(5)

120

### 34.2 속성(Attribute)

In [ ]:
class Person:
    def __init__(self):
        self.hello = '안녕하세요?'
    def greeting(self):
        print(self.hello)

In [ ]:
maria = Person()
maria.greeting()

안녕하세요?

In [ ]:
maria.hello = 'How are you?'
maria.greeting()

How are you?

In [ ]:
james = Person()
james.hello = 'Good afternoon!'
james.greeting()

Good afternoon!

In [ ]:
class Person:
    def __init__(self, name, age, address):
        self.hello = '안녕하세요?'
        self.name = name
        self.age = age
        self.address = address
    def greeting(self):
        print(f'{self.hello} 저는 {self.name} 입니다.')
    # JAVA의 toString() method
    def __str__(self):
        return f'hello: {self.hello}, name: {self.name}, age: {self.age}, address: {self.address}'

In [ ]:
maria = Person('마리아', 23, '서울시 서초구 서초동')
maria.greeting()

안녕하세요? 저는 마리아 입니다.

In [ ]:
maria.hello = '반갑습니다.'
maria.greeting()

반갑습니다. 저는 마리아 입니다.

In [ ]:
# __str__ method 만들기 전
print(maria)

<__main__.Person object at 0x7fb47dc70b50>

In [ ]:
# __str__ method 만든 후
print(maria)

hello: 반갑습니다., name: 마리아, age: 23, address: 서울시 서초구 서초동

In [ ]:
maria.hello = '반갑습니다.'
print(maria)

hello: 반갑습니다., name: 마리아, age: 23, address: 서울시 서초구 서초동

### 34.3 비공개 속성

In [ ]:
print(maria)

hello: 반갑습니다., name: 마리아, age: 23, address: 서울시 서초구 서초동

In [ ]:
class Person:
    def __init__(self, name, age, addr, wallet):
        self.name = name
        self.age = age
        self.addr = addr
        self.__wallet = wallet      # __가 붙으면 비공개 속성이 됨

In [ ]:
james = Person('제임스', 25, '서울시 서초구 반포동', 10000)

In [ ]:
class Person:
    def __init__(self, name, age, addr, wallet):
        self.name = name
        self.age = age
        self.addr = addr
        self.__wallet = wallet

    def pay(self, amount):
        if self.__wallet < amount:
            print('지갑에 돈이 부족합니다.ㅠㅠ')
            return
        self.__wallet -= amount
        print(f'지갑에 남은 돈은 {self.__wallet:,d}원 입니다.')

    def __greeting(self): 
        print('Hello')

    def hello(self):
        self.__greeting()

In [ ]:
james = Person('제임스', 25, '서울시 서초구 반포동', 10000)
james.pay(2500)

지갑에 남은 돈은 7,500원 입니다.

In [ ]:
james.pay(8000)

지갑에 돈이 부족합니다.ㅠㅠ

In [ ]:
# 비공개 메소드
james.__greeting()

AttributeError: ignored

In [ ]:
james.hello()

Hello

### 연습문제
- class Tmoney

In [ ]:
class Tmoney:
    def __init__(self, age, balance):
        self.age = age
        self.__balance = balance

    def pay(self):
        if 7 <= self.age <=12:
            fare =650
        elif 13<=self.age<=18:
            fare =1050
        else:
            fare = 0

        if self.__balance < fare:
            print('잔액이 부족합니다.ㅠㅠ')
            return
        self.__balance -= fare
        print(f'{self.age}살의 요금은 {fare:,d}원이고, 잔액은 {self.balance:,d}원입니다')

In [ ]:
card = Tmoney(30, 10000)
card.pay()

AttributeError: ignored

In [ ]:
card = Tmoney(30, 10000)
for i in range(10):
    card.pay()

AttributeError: ignored

In [75]:
class Tcard:
    def __init__(self, balance):
        self.__balance = balance

    def get_balance(self):
        return self.__balance

    def pay(self, fare=1350):
        if self.__balance < fare:
            print('잔액이 부족합니다.ㅠㅠ')
        self.__balance -= fare
        print(f'잔액: {self.__balance:,d}')

In [76]:
card = Tcard(10000)
fare = 1350
while card.get_balance() >= fare:
    card.pay()

잔액: 8,650
잔액: 7,300
잔액: 5,950
잔액: 4,600
잔액: 3,250
잔액: 1,900
잔액: 550