# Unit 38. 예외(Exception) 처리
### 38.1 try except

In [1]:
a = [1,2,3]
a[3]

IndexError: ignored

In [2]:
try:
    a[3]
except:
    print('인덱스 에러 발생')

인덱스 에러 발생

In [3]:
int('10d')

ValueError: ignored

In [5]:
try:
    print(int('10d'))
except:
     print('예외발생')

예외발생

- 특정 예외만 처리

In [9]:
try:
    x = int(input())
    y = 100 / x
    print(y)
except ValueError:
    print('입력값이 틀렸습니다.')
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')

0
0으로 나눌 수 없습니다.

In [11]:
try:
    x = int(input())
    y = 100 / x
    print(y, a[x])
except ValueError:
    print('입력값이 틀렸습니다.')
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')
except IndexError:
    print('Index 에러 발생')

4
Index 에러 발생

- 다양한 예외 에러 메시지 받기

In [13]:
try:
    x = int(input())
    y = 100 / x
    print(y, a[x])
except Exception as e:
    print(e)

0
division by zero

### 38.2 else-finally

In [16]:
try:
    x = int(input())
    y = 100 / x
except Exception as e:
    print(e)
else:               # try code에서 예외가 발생하지 않았을 때 실행됨
    print(y)

4e
invalid literal for int() with base 10: '4e'

In [18]:
try:
    x = int(input())
    y = 100 / x
except Exception as e:
    print(e)
else:              
    print(y)
finally:                # 예외 발생 여부와 상관없이 항상 실행됨
    print('코드 실행 종료')

4
25.0
코드 실행 종료

### 38.3 예외 발생시키기

In [23]:
try:
    for i in range(100):
        print(i ,  end=' ')
        for k in range(100):
            if (i==k and i==51):
                raise Exception('Loop 종료 조건 충족')
except:
    print('Loop 강제 종료')         # 고난도

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 Loop 강제 종료

In [22]:
try:
    for i in range(100):
        print(i ,  end=' ')
        for k in range(100):
            if (i==k and i==51):
                raise Exception('Loop 종료 조건 충족')
except Exception as e:
    print(e)

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 Loop 종료 조건 충족

- assert로 예외 발생시키기

In [27]:
try:
    x = int(input())
    assert x % 3 == 0, '3의 배수가 아닙니다.'
except Exception as e:
    print(e)
else:
    print(x)

10
3의 배수가 아닙니다.

### 38.4 예외 만들기

In [28]:
class MyException(Exception):
    def __init__(self):
        super().__init__('내가 만든 예외')

In [29]:
try:
    raise(MyException)
except Exception as e:
    print(e)

내가 만든 예외